body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: rgb(6, 1, 51);
  color: rgb(0, 110, 22);
  font-family: 'Orbitron', sans-serif;
}

#menu, #gameOver, #nextLevel  {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Add these lines to make the menu appear on top */
  z-index: 1;
  pointer-events: auto;
}

#gameOver, #nextLevel {
  display: none;
}

#gameOverText {
  color: rgb(171, 2, 2);
}

#nextLevelText {
  color: rgb(162, 255, 33);
}

button {
  width: 240px;
  height: 60px;
  margin: 10px;
  font-size: 30px;
  background-color: rgb(0, 0, 0);
  border: none;
  color: rgb(6, 188, 43);
  font-family: 'Orbitron', sans-serif;
}

button:hover {
  opacity: 0.5;
  cursor:grab;
}

canvas {
  /* Add this line to make the canvas ignore mouse events */
  pointer-events: none;
  /* Add this line for the transition */
  transition: left 0.1s, top 0.1s;
  /* Add this line for the relative position */
  position: relative;
}

h1 {
  margin: 10px;
  color: rgb(0, 110, 22);
  font-size: 40px;
  font-family: 'Orbitron', sans-serif;
}

.boom {
  position: absolute;
  background-size: cover;
  /* Add these lines for the animation */
  animation: fade-out-scale-up 0.5s ease-out;
}

/* Add this keyframes rule for the animation */
@keyframes fade-out-scale-up {
  from {
    opacity: 1;
    transform: scale(1);
  }
  
  to {
    opacity: 0;
    transform: scale(2);
  }
}



